@import url("https://fonts.googleapis.com/css2?family=Anta&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
    --white-color: #fff;
    --primary-bg-color: black;
    --secondary-bg-color: rgb(14, 14, 14);
    --font-nunito: "Nunito", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-bg-color);
}

h1,
h2,
h3 {
    color: var(--white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}
/* scroll bar style  */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* This styles the thumb (the moving part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #141414;
    border-radius: 6px; /* roundness of the corners */
    border: 2px solid transparent; /* Optional: just for styling */
    background-clip: content-box; /* This is necessary when adding borders */
    transition: all 0.5s ease-in-out;
}

/* This styles the thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2f2f2f; /* color of the thumb on hover */
}

/* Optionally: styling the scrollbar corner */
::-webkit-scrollbar-corner {
    background: #000; /* color of the scrollbar corner */
}

/* header  */
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    /* background: var(--primary-bg-color); */
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li a {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    font-weight: 600px;
    letter-spacing: 5px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

/* nav ul li::before {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease-in-out;
}
nav ul li.active::before,
nav ul li:hover::before {
    background: var(--white-color);
    width: 100%;
} */

nav ul li.active a {
    opacity: 1;
}
.menu-icon {
    display: none;
}
.home__section {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 50px;
    min-height: 500px;
    width: 100%;
}
.home__image__sub__container {
    width: 60%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}
.home__image__container {
    width: 50%;
}
.home__image {
    width: 300px;
    height: 625px;
    position: absolute;
    top: -10rem;
    left: 23rem;
}

/* scroll driven animation  */
@keyframes grow-progress {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(3);
    }
}

.scroll-driven-scale {
    animation: grow-progress auto linear;
    animation-timeline: scroll();
}

.home__overview {
    padding-inline-start: 5rem;
    width: 100%;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home__title {
    font-size: 62px;
    font-family: var(--font-nunito);
    font-weight: 700;
    font-style: normal;
}
.home__subtitle {
    margin-top: 50px;
    font-size: 24px;
    font-family: var(--font-nunito);
    font-weight: 400;
    font-style: normal;
}
.home__desc {
    font-size: 18px;
    font-family: var(--font-nunito);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    width: 50%;
    opacity: 0.8;
}

.action__container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    margin-block-start: 3.5rem;
}
.action__container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: var(--font-nunito);
}
.action__container > div:hover {
    cursor: pointer;
}

section {
    min-height: 800px;
    margin-block: 5rem;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    60%,
    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
}

/* specs  section */
.specs {
    font-family: var(--font-nunito);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.specs__head__title {
    margin-block-start: 8%;
    font-size: 62px;
}
.specs__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-block: 5%;
    /* background: linear-gradient(to right, #232526, #414345); */
}
.specs__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.specs__data {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.specs__data_sub {
    display: flex;
    align-items: center;
    gap: 10px;
}
.specs__icon {
    font-size: 24px;
}
.specs__subtitle {
    opacity: 0.6;
}
@keyframes reveal {
    0% {
        opacity: 0;
        clip-path: inset(0% 60% 0% 50%);
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

.specs__image {
    width: 350px;
    animation: auto linear reveal both;
    animation-timeline: view();
    animation-range: entry 25% cover 40%;
}

/* case section style  */
.case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: var(--white-color);
}
.case__title {
    font-size: 62px;
}
.case__image__container {
    width: 80%;
}
.case__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 3rem;
}
.case__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
}
.case__content p {
    width: 60%;
    font-size: 22px;
    line-height: 2rem;
}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.case__button {
    width: 12rem;
    height: auto;
}

button.case__button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.case__button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.case__button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.case__button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.case__button .case__btn__tex {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .case__btn__tex {
    color: #fff;
}
.case__image {
    width: 450px;
}

/* shop now container  */
.shop__now {
    min-height: 600px;
    position: relative;
    display: grid;
    place-items: center;
    color: var(--white-color);

}
.shop__now__container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 60%;
    background: linear-gradient(to right, #060606, #111111);
    padding-block: 5rem;
    border-radius: 14px;
}
.shop__now__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.shop__now__title {
    font-size: 32px;
    font-family: var(--font-nunito);
}
.shop__now__description {
    font-size: 24px;
    opacity: 0.8;
}
.fancy {
    background-color: transparent;
    border: 2px solid var(--white-color);
    border-radius: 0;
    box-sizing: border-box;
    color: var(--primary-bg-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
    width: 70%;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: var(--white-color);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white-color);
}
.fancy .text i {
    margin-inline: 5px;
}
.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: var(--primary-bg-color);
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: var(--primary-bg-color);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: var(--primary-bg-color);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: black;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}
.shop__now__image__container {
    width: 40%;
}
.shop__now__image {
    width: 450px;
}
/* products  */
.products {
    color: var(--white-color);
    font-family: var(--font-nunito);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1000px;
}
.products__title {
    margin-bottom: 12rem;
    font-family: var(--font-nunito);
    font-size: 62px;
}
.products__container {
    width: 60%;
    height: fit-content;
    display: grid;
    grid-template-rows: repeat(auto-fit, 240px);
    grid-template-columns: repeat(3, 1fr);
    gap: 25% 0;  
    justify-content: center;
    justify-items: center;
    
}
.product__card {
    position: relative;
    padding-inline: 1rem;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    padding-bottom: 10px;
    border-radius: 12px;
    background-color: var(--secondary-bg-color);
}

.product__card img {
    position: absolute;
    top: -30%;
    left: 20%;
    width: 125px;
}

.products__variants__details__container{
    display: flex;
    justify-content: space-between;
}
